:root {
	/* color palette */
	--white: #fff;
	--black: #262626;
	--lightGrey: #fafafa;
	--midGrey: #dbdbdb;
	--darkGrey: #a1a5aa;
	/* element colors */
	--bg-color: var(--lightGrey);
	--borderColor: var(--midGrey);
	--fontGrey: var(--darkGrey);
	--fontBlack: var(--black);
	--form-button: #0095f6;
	--form-button-disabled: #b2dffc;
	/* sizes */
	--font-size-1: 12px;
	--font-size-2: 14px;
	--border-size: 1.25px;
	--container-height: 100vh;
	--main-item-height: 600px;
	--aside-width: 26rem;
	--article-width: 25rem;
	--login-box-height: 25rem;
	--wrapper-width: 840px;
	--print-width: 16.1rem;
	--font-size: 0.75rem;
	--footer-grow: 1080px;
	--logo-width: 11rem;
	/* padding */
	--padding: 1rem;
	--padding2: 2rem;
	--padding3: 3rem;
	--padding4: 0.5rem;
	--print-top: 1.5rem;
	--print-left: 7.45rem;
}

/* margin top */

.margin-top-dot5 {
	margin-top: 0.5rem;
}

.margin-top-dot75 {
	margin-top: 0.75rem;
}

.margin-top-1 {
	margin-top: 1rem;
}

.margin-top-2 {
	margin-top: 2rem;
}

/* padding */

.padding-dot5 {
	padding: 0.5rem;
}

.padding-1 {
	padding: 1rem;
}

.padding-1dot5 {
	padding: 1.5rem;
}

.padding-2 {
	padding: 2rem;
}

.padding-2dot5 {
	padding: 2.5rem;
}

.padding-3 {
	padding: 3rem;
}

/* flex */

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}

.as-center {
	align-self: center;
}

.grow {
	flex: 1;
}

/* font */

.txt-center {
	text-align: center;
}

.font-size-1 {
	font-size: var(--font-size-1);
}

.font-size-2 {
	font-size: var(--font-size-2);
}

.font-white {
	color: var(--white);
}

.font-grey {
	color: var(--fontGrey);
}

.font-darkerGrey {
	color: var(--borderColor);
}

.font-black {
	color: var(--fontBlack);
}

/* border */

.border-radius {
	border-radius: 0.25rem;
}

.border {
	border: var(--border-size) solid var(--borderColor);
}

/* background */

.bg-white {
	background-color: var(--white);
}

.bg-grey {
	background-color: var(--bg-color);
}

/* util */

.width-100 {
	width: 100%;
}

.divider {
	height: 2px;
	background-color: var(--borderColor);
}

.container {
	min-height: var(--container-height);
	min-width: 100%;
	font-family: sans-serif;
}

body {
	background-color: red;
}

main {
	/* padding: var(--padding2) 0; */
}

.main-item {
	height: var(--main-item-height);
}

aside {
	flex-basis: var(--aside-width);
}

article {
	flex-basis: var(--article-width);
}

.iphone-img {
	background: url(../img/instagram-iphone.png) left no-repeat;
	background-size: contain;
	width: 100%;
}

.instagram-image {
	width: var(--print-width);
	position: absolute;
	margin-top: var(--print-top);
	margin-left: var(--print-left);
}

.login-box {
	height: var(--login-box-height);
}

.instagram-logo {
	max-width: var(--logo-width);
	/* padding: var(--padding3) 0 var(--padding2); */
}

.form-login {
	padding: 0 var(--padding3);
}

.form-button {
	background-color: var(--form-button);
	color: var(--white);
	font-weight: bold;
}

footer {
	padding-bottom: var(--padding2);
	justify-self: flex-end;
	max-width: var(--footer-grow);
}

footer a {
	padding: 0px var(--padding4) var(--padding) var(--padding4);
}

@media only screen and (max-width: 900px) {
	aside.main-item {
		display: none;
	}
}
