:root {
	/* color palette */
	--white: #fff;
	--black: #262626;
	--blue: #1fb7f9;
	--opaqueBlue: rgba(31, 183, 249, 0.4);
	--darkBlue: #385185;
	--lightGrey: #fafafa;
	--midGrey: #dbdbdb;
	--darkGrey: #a1a5aa;
	/* element colors */
	--bg-color: var(--lightGrey);
	--borderColor: var(--midGrey);
	--fontGrey: var(--darkGrey);
	--fontBlack: var(--black);
	--form-button: #0095f6;
	--form-button-disabled: #b2dffc;
	/* sizes */
	--font-size-1: 12px;
	--font-size-2: 14px;
	--border-size: 1.25px;
	--container-height: 100vh;
	--aside-basis: 27rem;
	--article-basis: 23rem;
	--iphone-image-height: 600px;
	--iphone-image-width: 100%;
	--logo-width: 11rem;
	--app-link-height: 2.5rem;
	--footer-links-width: 1080px;
	/* print img */
	--print-width: 16.1rem;
	--print-top: 1.5rem;
	--print-left: 7.45rem;
}

/* margin top */

.margin-top-dot5 {
	margin-top: 0.5rem;
}

.margin-top-dot75 {
	margin-top: 0.75rem;
}

.margin-top-1 {
	margin-top: 1rem;
}

.margin-top-2 {
	margin-top: 2rem;
}

.margin-top-3 {
	margin-top: 3rem;
}

/* margin full / sides */

.margin-full-dot25 {
	margin: 0.25rem;
}

.margin-full-dot5 {
	margin: 0.5rem;
}

/* padding */

.padding-dot5 {
	padding: 0.5rem;
}

.padding-1 {
	padding: 1rem;
}

.padding-1dot5 {
	padding: 1.5rem;
}

.padding-2 {
	padding: 2rem;
}

.padding-2dot5 {
	padding: 2.5rem;
}

.padding-3 {
	padding: 3rem;
}

/* flex */

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.jc-center {
	justify-content: center;
}

.ai-center {
	align-items: center;
}

.as-center {
	align-self: center;
}

.grow {
	flex: 1;
}

/* font */

.txt-center {
	text-align: center;
}

.font-size-1 {
	font-size: var(--font-size-1);
}

.font-size-2 {
	font-size: var(--font-size-2);
}

.font-white {
	color: var(--white);
}

.font-grey {
	color: var(--fontGrey);
}

.font-darkerGrey {
	color: var(--borderColor);
}

.font-black {
	color: var(--fontBlack);
}

.font-bold {
	font-weight: bold;
}

/* border */

.border-radius {
	border-radius: 0.25rem;
}

.border {
	border: var(--border-size) solid var(--borderColor);
}

/* background */

.bg-white {
	background-color: var(--white);
}

.bg-grey {
	background-color: var(--bg-color);
}

/* util */

.width-100 {
	width: 100%;
}

/* special */

.container {
	min-height: var(--container-height);
	min-width: 100%;
	font-family: sans-serif;
}

body {
	/* background-color: red; */
}

aside {
	flex-basis: var(--aside-basis);
}

article {
	flex-basis: var(--article-basis);
}

.iphone-image {
	background: url(../img/instagram-iphone.png) left no-repeat;
	background-size: contain;
	height: var(--iphone-image-height);
	width: var(--iphone-image-width);
}

.instagram-image {
	width: var(--print-width);
	position: absolute;
	margin-top: var(--print-top);
	margin-left: var(--print-left);
}

.instagram-logo {
	max-width: var(--logo-width);
}

.divider {
	height: 2px;
	background-color: var(--borderColor);
}

.app-links > img {
	height: var(--app-link-height);
}

.enable-button {
	background-color: var(--blue);
}

.login-box {
	background-color: var(--white);
	border: var(--border-size) solid var(--borderColor);
}

.disable-button {
	background-color: var(--opaqueBlue);
}

.footer-links {
	max-width: var(--footer-links-width);
}

@media only screen and (max-width: 840px) {
	aside.main-item {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	main {
		margin: 0 !important;
	}

	.login-box {
		background-color: inherit;
		border: 0;
	}
}
