:root {
	/* colors */
	--bg: #fafafa;
	--border: #dbdbdb;
	--white: #fff;
	/* sizes */
	--container-height: 100vh;
	--wrapper-width: 840px;
	--main-height: 600px;
	/* --section-width: calc(var(--wrapper-width) / 2); */
	--section-width: 420px;
	--print-width: 13.75rem;
	/* padding */
	--padding: 1rem;
	--padding2: 2rem;
	--padding3: 3rem;
	--print-top: 1.275rem;
	--print-left: 8.9rem;
}

body {
	/* color */
	background-color: var(--bg);
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.container {
	/* size */
	height: var(--container-height);
}

main {
	/* padding */
	padding: var(--padding2) 0;
	/* size */
	height: var(--main-height);
	width: 100%;
}

main > * {
	/* flex */
	/* flex: var(--section-width); */
	width: var(--section-width);
}

/* .wrapper, */
footer {
	/* size */
	max-width: var(--wrapper-width);
}

.wrapper {
	/* size */
	height: var(--wrapper-height);
	/* flex */
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

aside {
	/* flex */
	display: flex;
	/* padding */
	padding-top: var(--padding3);
}

aside div {
	/* padding */
	flex: 1;
	/* image */
	background: url(../img/mockup-iphone-insta.png) center no-repeat;
	background-size: contain;
}

aside img {
	/* size */
	width: var(--print-width);
	/* position */
	position: absolute;
	/* padding */
	margin-top: var(--print-top);
	margin-left: var(--print-left);
}

article {
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

article > section {
	/* color */
	background-color: var(--white);
	border: 2px solid var(--border);
	/* flex */
	display: flex;
}

article section:nth-of-type(2) {
	/* padding */
	margin: var(--padding) 0px;
}

footer {
	/* flex */
	flex: 1;
	align-self: flex-end;
	/* padding */
	padding-bottom: var(--padding2);
}

@media only screen and (max-width: 860px) {
	:root {
		--wrapper-width: 420px;
		--section-width: var(--wrapper-width);
	}

	aside {
		display: none;
	}
}
